.btn-wsp {
    width: 80px;
    height: auto;
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }
  
  .btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #0df053;
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.facebook {
    color: #b2c3e6;
  }
  
  a.instagram {
    color: black;
  }
  
  .footer {
    background: linear-gradient(to top, #00A099,#00538f9d);
    width:100%;
    height:75px; 
    text-align: center;
  }